app==0.0.1
beautifulsoup4==4.9.3
fastapi==0.109.2
gspread==6.0.2
jugaad_data==0.26
pandas>=1.2.0,<2.0.0
protobuf==4.25.3
pytz==2024.1
lxml==5.1.0
Requests==2.31.0
httplib2==0.22.0
pip==24
lxml==5.1.0
uvicorn==0.27.1
