beautifulsoup4==4.9.3
fastapi==0.109.2
gspread==6.0.2
jugaad_data==0.24
jugaad_data==0.26
pandas==1.5.2
protobuf==4.25.3
pytz==2022.7.1
pytz==2024.1
Requests==2.31.0
uvicorn==0.27.1
pip install --upgrade pip
