<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SNT Solution</title>
</head>
<body>
    <header>
        <h1>SNT Solutions</h1>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>About Us</h2>
            <p>Write a brief description of your company or services.</p>
            <img src="static/img/snt_solution_image.png" alt="Snt Solution Image">
        </section>

        <section id="contact">
            <h2>Contact Us</h2>
            <p>Contact us for more information:</p>
            <ul>
                <li>rajesh.sntsolutions@gmail.com</li>
                <li>Phone: +918080105062</li>
                <li>Address: Pimple Gurav Pune</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
    </footer>
</body>
</html>
